<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.helpp.io">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"

        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name="com.helpp.io.activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.helpp.io.activity.LoginActivity" android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.helpp.io.activity.RegisterActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.helpp.io.activity.ProfileActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.helpp.io.activity.ForgetPasswdActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.helpp.io.activity.PhoneLoginActivity" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.helpp.io.activity.VerifyPhoneActivity" android:theme="@style/AppTheme.NoActionBar"/>


        <service android:name="com.helpp.io.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.helpp.io.MyFirebaseInstanceIdServices">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            tools:replace="android:value"
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

    </application>

</manifest>